#zmmtg-root {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}

.topic-form {
  padding-top: 25px;
  padding-bottom: 15px;
}

.topic-form > * {
  margin-right: 10px;
}

.table-buttons > * {
  margin-right: 5px;
}
